<h3>Error Processing Payment</h3>
<p>
  Or, it could of been something else, like they canceled out of the paypal payment screen. Either way, be ready to take a look if someone gives you a call. Here is what we know:
</p>

<p>
  Potential Members:<br />
  <%@members.each do |member|%>
    <%=member%><br />
  <%end%>
</p>
