<h3>NEW MEMBERSHIP BENEFITS</h3>
<p>
  We all get some new SWAG (or atleast a discount on it). But anyway, <%=@organization%> agreed to provide a member benefit in exchange for the $420 business rate. Reach out to them and make them fork it over. makE.....tHEM....PAY!!!!
</p>

<p>
  Take a look at the <%=link_to "membership list", all_url%> to find out more information
</p>
